/**
main.css

Contains all stylings and animations used in portfolio page
html_includes contains the css for each page when used in an iframe
**/
html{box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-x:hidden;font-size:1em;}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #555;
    color: #a60;
}
div {margin: 5em 0.5em;padding: 5px;}
a, a:visited {display: inline-block; text-decoration: none; color: #b80; font-weight: bold; transition: all 0.5s ease;}
a:hover {font-weight: bolder; font-size:1.2em;}